{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body  %}
<form action="{{ url_for ('handle_data') }}" method="post" >
    <div class ="LogoReturn">
        <div class="test">
            <p class="LogoReturn">MooQle</p>
            <input type="text" name="uKeyword" placeholder="Search...." autocomplete="off"></input>
            <input type="submit" value="Search"></input>
        </div>
    </div>
</form>
<hr></hr>
<h1 class="return">Results</h1>
<p class="total">{{decryptedList|length}} result(s) match</p>
    <table id="table" class="display">
            {% for user in decryptedList %}
                <tr class="url">
                    <th class ="url">
                        <!--my website is store in the 3rd column of my database -->
                        <a href={{user[1]}}>{{user[1]}}</a>
                    </th>
                </tr>
                <tr class="text">
                    <td class="url">
                        {{user[0]}}
                    </td>
                </tr>
            {% endfor %}
    </table>
{% endblock %}
